.button {
    transition: background-color .25s ease-out, color .25s ease-out;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: .5625em 1em;
    margin: 0 0 1rem 0;
    font-size: 1rem;
    background-color: #900;
    a:link {
        color: #fff;
    }
    
}